<section class="dar-latest-products py-12">
  <div class="container">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ trans('blocks.home.latest_products') }}</h2>
    <salla-products-list source="latest"></salla-products-list>
  </div>
</section>
