<section class="dar-youtube py-12">
  <div class="container max-w-3xl mx-auto">
    {% if component.url %}
      <lite-youtube videoid="{{ component.url }}"></lite-youtube>
    {% endif %}
  </div>
</section>
