<div class="dar-payment-methods">
  <h4 class="text-white font-semibold text-sm mb-4 uppercase tracking-wider">{{ trans('blocks.footer.payment_methods') }}</h4>
  <salla-payments class="dar-payments"></salla-payments>
</div>
